.card 
{
    width:300px;
    padding: 20px;
    background-color: #eee;
    margin-bottom:50px;

    &__image
    {
        width:100%;
    }

    &__title
    {
        font-size: 24px;
    }

    &__text
    {
        font-size:16px;

    }

    &__button
    {
        padding:10px 20px;
        border:none;

        // The modifer is -- to modify something about the element.
        &--primary
        {
            background-color:#007bff;
            color: #fff;
        }

        &--secondary
        {
            background-color:greenyellow;
            color:#fff
        }
    }
}

// .card__image
// {
//     width:100%;
// }

// .card__title
// {
//     font-size: 24px;
// }

// .card__text
// {
//     font-size:16px;

// }

// .card__button
// {
//     padding:10px 20px;
//     border:none;
// }

// // The modifer is -- to modify something about the element.
// .card__button--primary
// {
//     background-color:#007bff;
//     color: #fff;
// }