.mostUsedPage
{
    .mostUsedPageHeader
    {
        display:flex;
        justify-content: space-between;

        p
        {
            margin-top:12px;
            margin-right:95px;
        }
    }
}