.ticketForm
{
    // background-color:blanchedalmond;
    width:500px;
    
    #ticketFormHeader
    {
        margin:0;
        margin-bottom: 5px;
    }

    #dueDate
    {
        color:red;
    }
    
    .radioBtnsDiv
    {
        // background-color:antiquewhite;
        label
        {
            margin-right: 10px;
        }
    }

    .ticketDescDiv
    {
        margin-top:20px;

        display:flex;
        flex-direction: column;

        
        .checkNumDiv,
        .groupNameDiv
        {
            display:flex;
            align-items: center;

            p
            {   
                margin:0;
                margin-right:5px;
            }
                
            input
            {
                height:22px;
                width:200px;
            }
        }
    }
}